{% extends "bootstrap/base.html" %}
{% block title %}计时器 - Flask{% endblock %}

{% block head %}
{{ super() }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="text-center">
    <div class="warpper">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        <div class="page-header">
            <h1>猜数字</h1>
        </div>
        <br><br>
        {% block page_content %}{% endblock %}
        <div>
            <br><br>
            <a href="http://greyli.com" target="_blank">Blog</a> |
            <a href="https://github.com/helloflask/guess-flask" target="_blank">源码</a> |
            知乎专栏：<a href="https://zhuanlan.zhihu.com/flask" target="_blank">Hello, Flask!</a>
        </div>
        <hr>
        <a href="http://flask.pocoo.org/">
            <img src="http://flask.pocoo.org/static/badges/flask-powered.png"
                 border="0" alt="Flask powered" title="Flask powered">
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="text/javascript"></script>
{% endblock scripts %}